<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mark.report_card">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".navigation.TitleScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.SelectCourseActivity"
            android:label="@string/title_activity_courses"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop" />
        <activity
            android:name=".navigation.SelectSemesterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop">
        </activity>
        <activity
            android:name=".adding.AddSemesterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop" />
        <activity
            android:name=".adding.AddCourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop" />
        <activity
            android:name=".adding.AddGradeSectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop" />
        <activity
            android:name=".popups.AddEditSingleMarkPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.AddMarkOptionsPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".navigation.CourseInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OrangeTop" />
        <activity
            android:name=".popups.AddBulkMarkPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomPopUpThemeNoCloseOnTouch"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".popups.EditGradeSectionOptionsPopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.EditMarkOptionsPopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.EditCourseOptionsPopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.EditCoursePopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.EditGradeSectionPopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.CustomAlertPopUp"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.EditSemesterOptionsPopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".popups.EditSemesterPopUpActivity"
            android:theme="@style/AppTheme.CustomPopUpTheme" ></activity>
    </application>

</manifest>
